* {
    box-sizing: border-box;
}

.container {
    border: 2px solid gray;
    padding: 24px;
}

.row {
    max-width: 300px;
    margin: 0 auto -12px auto;
    display: flex;
    justify-content: space-between;
}

.box {
    border: 2px solid gray;
    width: 45%;
    margin-bottom: 12px;
}

.box-small {
    width: 100%;
    height: 20px;
}

.box-tiny {
    border: 2px solid gray;
    height: 20px;
    width: 30%;
}

.box-wrapper {
    width: 45%
}

.tiny-wrapper {
    display: flex;
    justify-content: space-between;
}